<div class="t-c-box">
	<a href="https://www.getklap.com/blank-g6tiu" target="_blank" class="icon icon-btn" ng-click="tcCtrl.approveTerms($event)" > 
		<svg width="248px" height="74px" viewBox="20 98 248 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <defs>
		        <path d="M132.857143,110 L28.0053879,110 C23.5773904,110 20,113.579176 20,117.994313 L20,164.005687 C20,168.42131 23.5841343,172 28.0053879,172 L259.994612,172 C264.42261,172 268,168.420824 268,164.005687 L268,117.994313 C268,113.57869 264.415866,110 259.994612,110 L155.142857,110 L144,98 L132.857143,110 Z" id="path-1"></path>
		        <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="248" height="74" fill="white">
		            <use xlink:href="#path-1"></use>
		        </mask>
		    </defs>
		    <use id="shape" stroke="#FFFFFF" mask="url(#mask-2)" stroke-width="2" fill-opacity="0.6" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
		</svg>
		<span>I agree with the <br/> terms and conditions of use</span>
	</a>
</div>